* {
  overflow: hidden;
}

.menu {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.menu a {
  font-family: helvetica, sans-serif;
  font-size: 14px;
  font-weight: 200;
  color: white;
  text-decoration: none;
}

.header,
.footer {
  width: 100%;
  height: 40px;
  background-color: #2E2E2E;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}

.header {
  display: flex;
  justify-content: center;
}

.footer {
  box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.50);
}

.header div,
.footer div {
  display: flex;
  height: 40px;
  align-items: center;
}

.footer div {
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

.logo {
  background-image: url(../img/logo.svg);
  width: 100px;
  height: 30px;
  background-repeat: no-repeat;
  display: block;
  background-size: contain;
}

.about {
  position: fixed;
  display: block;
}

.about a#name {
  display: block;
  position: fixed;
  margin: 220px 20px 20px 100px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-decoration: underline;
  color: #141414;
}

.about p#sum {
  margin: 260px 20px 20px 100px;
  display: block;
  position: fixed;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: #141414;
}

.about p#sum2 {
  margin: 65vh 20px 20px 100px;
  display: block;
  position: fixed;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 26px;
}

.about p#country {
  margin: 65.4vh 20px 20px 165px;
  position: fixed;
  display: block;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.about p#prof {
  margin: 69vh 20px 20px 138px;
  position: fixed;
  display: block;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

figure {
  display: block;
  background-size: cover;
  z-index: 2;
}

.img-block {
  display: block;
  width: 70vw;
  height: 50vh;
  /*border: 5px solid red;*/
  overflow: scroll;
  overflow-y: hidden;
  margin: 25vh 0 0 400px;
  position: absolute;
}

div.gallery {
  width: 306vh;
  display: flex;
  overflow: auto;
  height: 400px;
}

div.small {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-between;
  padding: 0 5px 0 5px;
}

figure.big {
  width: 50vh;
  height: 50vh;
}

figure.small {
  width: calc(25vh - 2.5px);
  height: calc(25vh - 2.5px);
}


@media only screen and (max-width: 1200px) {
  .about p#sum2 {
    display: none;
  }

  .about p#country {
    display: none;
  }

  .about p#prof {
    display: none;
  }

}
