body {
  overflow-y: hidden;
}
.header,
.footer {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.header,
.footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  background-color: #2E2E2E;
}

.header div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 28px 0 28px;
}

.header div a,
.footer div a {
  color: white;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
}
.footer {
  width: 100%;
  top: 780px;
  box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.50);
  background-color: rgb(20, 20, 20);
}

.logo {
  display: block;
  background-image: url(../../img/logo.svg);
  height: 35px;
  width: 124px;
  background-repeat: no-repeat;
}

figure {
  display: inline-block;
  background-size: cover;
}

div.gallery {
  display: flex;
  flex-direction: row;
  width: 2400px;
  height: 730px;
  justify-content: space-between;
  top: 42px;
}

div.small {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 730px;
  justify-content: space-between;
  padding: 0 5px 0 5px;
}


figure.big {
  width: 730px;
  height: 730px;
}

figure.small {
  width: 362.5px;
  height: 362.5px;
}
.big#img1 {
  background-image: url(../../img/1.jpg);
}

.big#img2 {
  background-image: url(../../img/4.jpg);
}


.small#img1 {
  background-image: url(../../img/2.jpg);
}

.small#img2 {
  background-image: url(../../img/3.jpg);
}

.small#img3 {
  background-image: url(../../img/5.jpg);
}

.small#img4 {
  background-image: url(../../img/6.jpg);
}
