.gallery {
  position: relative;
  /*overflow: hidden;*/
}

.galleryRail {
  display: flex;
  transition: all .3s ease;
}

.galleryRail figure {
  display: block;
  margin: 0 auto;
}

.galleryRail figure.big {
  width: 700px;
  min-width: 700px;
  margin-left: 63px;
}

.galleryNav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(100% - -100px);
}

.galleryNav div {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 30px;
  cursor: pointer;
  z-index: 2;
}

.galleryNav .disabled {
  opacity: 0;
  cursor: default;
}

.galleryNav div::before,
.galleryNav div::after {
  content: '';
  background: white;
  position: absolute;
}

.galleryNav div::before {
  width: 5px;
  height: 20px;
}

.galleryNav div::after {
  width: 20px;
  height: 5px;
}

#prev {
  transform: rotate(-45deg);
}

#next {
  transform: rotate(135deg);
}
